.home-logo{

    width: 150px;
}
html{
    font-family: 'Lato' !important;


}
.container {
    /*margin-top: 63px;*/
    padding-top: 10px;
}
.search-nav{
    background-color: #ffffff;
}

.navbar-default {
    background: #ffffff;
    border-bottom: 10px solid #DDD;
    border-top: 3px solid #4CAF50;
}

.btn {
    border-radius: 0px;
    transition: .5s background-color ease-out !important;
}

a.list-group-item {
    height: auto;
    min-height: 220px;
}

a.list-group-item.active small {
    color: #fff;
}

.stars {
    margin: 20px auto 1px;
}

/** Navbar Drop Down */

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

/**

Big Button

*/

.main-container {

}
.btn-warning{
    margin-bottom: 10px;
}
.btn-block{
    margin-bottom: 10px;
    border-bottom: 7px solid #4CAF50;
}
.btn-wishlist{
    margin-bottom: 10px;
    background-color: #FB3175;
    border-color:#FB3175;;
    border-bottom: 7px solid #E91E63;
}
.remove-padding{
    padding-left: 0px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.main-container .btn-holder {
    margin-bottom: 0px;
    padding: 50px;
}
.product-container{
    margin-top: 20px;
}
.main-container .btn {
    width: 100%;
    border-radius: 0px;
    border-bottom: 7px solid #4CAF50;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}

.sideb {
    /*position: fixed;*/
}

.sidebar {
    /*position: fixed;*/
    /*margin-top: 5em;*/
}

.sidebar li {
    list-style-type: none;
    margin-top: .7em;
}

.sidebar ul {
    padding-left: 0px;
}

.sidebar a {
    text-decoration: none;
    transition: .5s color ease-in-out;
}

.mainbar {
    margin-top: 2em !important;
}

.Box {
    position: relative;
    padding: 2rem;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
}

.product-list-items {
    height: 250px;
}

.product-list-items .col-md-3 {
    height: 100%;

}

.product-list-items .col-md-9 {
    padding-right: 10px;
}

.product-list-items .btn {
    font-size: 80%;
    width: 100px;
}
.main-logo{
    width: 50px;
}
.hr-custom {
    width: 120%;
}

.product-img {
    width: 100%;
}
.pro-pic{
    position: absolute;
    top: -90px;
}
.pro-data{
    margin-top: 40px;
    font-weight: 300;
}
.profiles{

    font-weight: 300;
}
body{
    font-family: 'Lora', sans-serif;
}
.fa-phone{
    color: #ec971f;
}
.fa-envelope-o {
    color: #31b0d5;
}
.fa-map-marker{
    color: #8BC34A;
}
.search-input-box{
    border-bottom: 3px solid #DDD;
    height: 100%;
    border-radius: 0px;
}
.search-btn{
    background: #8BC34A;
    color: #fff;
    border-bottom: 3px solid #4CAF50;
}
/* Media Queries */
@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}


.wish-box{
    margin: 5px;
}
.wish-box img{
    margin: 5px;

}
.btn-wish{

    padding-bottom: 1px;
    margin-bottom: 20px;

}

.hovereffect {
    /*width:100%;*/
    /*height:100%;*/
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

.heart-red{
    color: red;
}
.interest-btn{
    width: 130px !important;
}
.title {
    padding-left: 78px;
    font-size: 44px;
    font-weight: 100;
    font-family: Lato;
}

.sort-bar{
    position: relative;
    top: 15px;
}